h3{color: green;
background-color: red}

#tieude-1{background-color: lawngreen;}
.tieude-2{color:blueviolet; background-color: chocolate;}
#m3p{color: aqua; background-color: darksalmon;}
div.web4{color: maroon;background-color: honeydew;}